
*{
    text-align: center;
    color: floralwhite;
}
    body {
      background-image: url('https://images.unsplash.com/photo-1515984977862-1c7201ef324d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE0fHx8ZW58MHx8fHw%3D&w=1000&q=80');
      background-position: center;
      background-size: cover;
    }
button{
    color: black;
}